* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

#header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

#logo_ifrj {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

#menu_header {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  padding-left: 5%;
}

#menu_header a img {
  width: 26px;
  height: auto;
}

#body {
  display: flex;
  flex-direction: row;
}

#section_form {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: auto;
  background-color: #428829;
  border-radius: 46px;
  margin-top: 20px;
  margin-left: auto;
  box-shadow: 2px 7px 15px #777;
  padding: 4% 0% 4% 3%;
  
}

#section_img_body {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_img_body img {
  height: auto;
  width: 30vw;
  opacity: 85%;
}

#lbl_nome {
  color: white;
  font-size: 18px;
}

#ipt_nome {
  border-bottom: 1px;
  border: 1px solid white;
  caret-color: #428829;
  background-color: white;
  border-radius: 6px;
  outline: none;
  width: 88%;
  color: black;
  margin: 1% 0 4% 0;
  height: 6px;
  padding: 2%;
  box-shadow: 2px 7px 15px #245C10;
}

#lbl_regTrab {
  color: white;
  font-size: 18px;
  margin-bottom: 2%;
}

.lbl_options {
  color: white;
  font-size: 16px;
}

.ipt_options {
  scale: 115%;
  margin-bottom: 2%;
}

.ipt_options:checked {
  accent-color: #428829;
}

.ipt_options:hover {
  cursor: pointer;
}

#lbl_dias_turnos {
  color: white;
  width: 90%;
  font-size: 18px;
  margin: 4% 0 4% 0;
}

table {
  border-radius: 32px;
  height: 35vh;
  width: 93%;
  background-color: white;
  overflow: hidden;
  border-collapse: collapse;
}

#linha1 {
  width: 25%;
}

#empty_cell{
  border-bottom: 4px solid #428829;
  width: 25%;
}

#turnos {
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 0 2% 0 2%;
  border-left: 4px solid #428829;
  border-bottom: 4px solid #428829;
  height: 100%;
}

tbody tr{
  height: 45px;
  border-bottom: 4px solid #428829;
  box-shadow: inset 0 0 15px #afafaf;
}

.dias_semana{
  padding: 1%; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ipt_celulas{
  border-left:4px solid #428829;
  width: 24%;
  padding-left: 11%;
}

#ipt_turno_dia{
  scale: 125%;
  border: none;
}
#ipt_turno_dia:hover{
  cursor: pointer;
}
#ipt_turno_dia:checked{
  accent-color: #428829;
}

#lbl_select_turmas{
  color: white;
  font-size: 18px;
  width: 95%;
  margin-top: 4%;
}

select{
  border: 1px solid white;
  border-radius: 6px;
  color: black;
  background-color: white;
  width: 20%;
  height: 25px;
  text-align: center;
  box-shadow: 2px 7px 15px #245C10;
  margin: 2% 0 3% 0;
}
select:hover{
  cursor:pointer;
}

#btn_add{
  width: 90px;
  height: 25px;
  border: 1px solid white;
  padding: 2px 4px;
  border-radius: 3px;
  margin-left:3%;
  background-color: white;
  box-shadow: 2px 7px 15px #245C10;
  transition: all .5s;
  font-size: 15px;
}
#btn_add:hover{
  cursor: pointer;
  background-color: #8ab25c;
  /* border: 1px solid white;
  color: black; */
}

#materias_turma_select{
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  width: 95%;
  flex-wrap: wrap;
  gap:10%;
  align-items: center;
}
#lbl_materia{
  display: block;
  width: 40%;
  margin: 2% 0 3% 5%;
  color: white;
  width: 35%;
}
#lbl_materia:hover{
  cursor: pointer;
}

#ipt_materias{
  width: 15px;
  height: 15px;
  border: 1px solid white;
  margin: 0 1% 2% 0;
  accent-color: #428842;
}
#ipt_materias:hover{
  cursor: pointer;
}

#card_turmas_selecionadas{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#btn_excluir{
  margin-left: 4%;
  border-radius: 16px;
  padding: 0 1% 0 1%;
  border: none;
  box-shadow: 2px 7px 15px #245C10;
}
#btn_excluir:hover{
  cursor: pointer;
}

#trash_img{
  height: auto;
  width: 20px;
  padding: 5% 0 5% 0;
  margin: 0 5px;
}

#lista_turmas_selecionadas{
  color: white;
  list-style: none;
  margin-bottom: 3%;
  font-size: 16px;
  width: 90%;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 2%;
}

#lbl_obs{
  color: white;
  font-size: 18px;
  margin-top: 3%;
}

textarea{
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  padding: 2%;
  box-shadow: 2px 7px 15px #245C10;
  caret-color: #428842;
  outline: none;
  margin-top: 3%;
  margin-bottom: 4%;
}
textarea:focus{
  outline: #428829;
}

#btn_enviar{
  width: 100px;
  background-color: white;
  color:black;
  transition: all .5s;
  box-shadow: 2px 7px 15px #245C10;
  padding: 4px;
  border: none;
  border-radius: 3px;
}
#btn_enviar:hover{
  border: 1px solid white;
  cursor: pointer;
  background-color: #8ab25c;
}

/* TABLET */
@media (max-width: 1024px) {
  #lbl_nome,#lbl_regTrab,#lbl_dias_turnos,#lbl_select_turmas,#lbl_obs{
    font-size: 14px;
    margin-left: 5%;
  }
  
  #header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
  }
  #logo_ifrj {
    margin-left: 5%;
  }
  #body{
    padding-bottom: 3%;
  }
  #section_form {
    width: 85vw;
    height: auto;
    margin: 0 auto 15% auto;
  }
  #section_img_body {
    width: 0%;
  }
  #section_img_body img {
    visibility: hidden;
  }
  #div_reg{
    display: flex;
    justify-content: space-evenly;
  }
  #btn_enviar{
    margin-bottom: 10%;
}
}

/* CELULARES */
@media (max-width: 767px){
  html, body {
  overflow-x: hidden;
  width: 100%;
}

  #lbl_nome,#lbl_regTrab,#lbl_select_turmas,#lbl_obs{
    font-size: 14px;
    margin-left: 2%;
    max-width: 95%;
  }
  #lbl_dias_turnos{
    width: 95%;
    font-size: 14px;
    margin-left: 2%;
  }
  #ipt_nome{
    margin-left: 2%;
    margin-top:3%;
  }
  table{
    margin-left: 2%;
  }
  .dias_semana{
    font-size: 12px;
    align-items: center;
  }
  .ipt_celulas{
    padding-left: 10%;
  }
  select{
    margin-left: 5%;
    width: 30vw;
    margin-top: 5%;
  }
  .lbl_options{
    font-size: 14px;
  }
  #lista_turmas_selecionadas{
    font-size: 14px;
    margin-left: 5%;
  }
  textarea{
    margin-left: 4%;
  }
  #btn_enviar{
    margin-left: 5%;
  }
  #header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
  }
  #logo_ifrj {
    margin-left: 5%;
  }
  #logo_ifrj img{
    width: 90%;
  }
  #menu_header{
    width: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    padding-right: 5%;
    margin-right: 3%;
  }
  #menu_header a img{
    width: 14px;
    height: auto;
  }
  #body {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

}